/* EX 1 * {
  margin: 0;
  padding: 8vh;
  align-items: center;
  justify-content: center;
}
.meu-nome {
    color: black;
    border-radius: 10px;
    border: none;
    padding: 1vh;
    font-size: 2vh;
    background-color: bisque;
} */

/* FIXAÇÃO */
.container {
    font-family: sans-serif;
    text-align: center;
}

.Logo {
    height: 300px;
}
